body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to top,
    white 0%,
    white 50%,
    #002b80 50%,
    #002b80 100%
  );
} 
/*The background display of form*/
.form-body{
  background: white;
  display: block;
  position: absolute;
  justify-content: center;
  border-radius: 15px;
  height: 500px;
  width: 780px;
  padding: 50px;
  margin: 20px 40px 60px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
} 

/*Left side of form*/
.contact-container{
	max-width: 300px;
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    max-width: 840px;
}
form {
	min-width: 25rem;
}
.form-control {
    background-color: #f2f6f8;
    border-radius: 2rem;
    border: none;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
    height: 3.3rem;
    padding: .5rem 3.5rem;
}

.message .form-control {
	padding: .5rem 1.8rem;
}